* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
@media screen and (max-width: 437px) {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  span,
  li,
  button,
  input,
  textarea,
  label,
  select,
  option,
  div,
  form {
    opacity: 1 !important;
  }
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
