.main {
  position: relative;
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  padding-inline: 100px;
  padding-block: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 80px;
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 0.5s ease-in-out;
}
.header svg {
  width: 143px;
  height: 70px;
  flex-shrink: 0;
}
.header ul {
  display: flex;
  column-gap: 50px;
  list-style: none;
  color: white;
  font-size: 16px;
}
.header .click svg {
  display: none;
}

/* Main Banner */
.mainBanner {
  width: 100%;
  height: 1000px;
  display: flex;
  height: 1050px;
}
.mainBanner .imageContainer {
  width: 50%;
  height: 100%;
  border-bottom-right-radius: 140px;
  background-color: #013a50;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  position: relative;
  border-top-right-radius: 140px;
  border-bottom-right-radius: 140px;
  filter: brightness(0.8);
  object-fit: cover;
}
.svgMainBanner {
  position: absolute;
  top: 266px;
  left: 50%;
  transform: translateX(-50%);
  width: 284px;
  height: 294px;
  flex-shrink: 0;
  z-index: 2;
}
.textContainer {
  width: 50%;
  height: 826px;
  background: #013a50;
  display: grid;
  place-items: center;
  color: white;
  position: relative;
}
.textContainer .mainText p {
  max-width: 350px;
}
.mainBanner .floatingContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translateY(50%) translateX(-50%);
}
.mainBanner .floatingContainer h4 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 12px;
  margin-bottom: 12px;
}
.mainBanner .floatingContainer p {
  border-radius: 55px;
  background: #d9d9d9;
  padding: 25px 143px;
  color: #013a50;
  display: block;
  width: 100%;
  text-align: center;
}
.mainBanner .mainText h5 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}
.mainBanner .mainText p {
  color: #fff;
  text-align: justify;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.mainBanner .mainText a {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
.mainBanner .mainText a::after {
  background: #fff;
  width: 30px;
  height: 2px;
  flex-shrink: 0;
  position: absolute;
  bottom: -4px;
  left: 0px;
  content: "";
}
/* Main Banner */

/* Services */
.servicesWrapper {
  margin-top: 200px;
}
.servicesWrapper h1 {
  color: #013a50;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 16px;
  margin-bottom: 40px;
}
.servicesWrapper .services {
  display: flex;
  flex-wrap: wrap;
  height: 460px;
}
.servicesWrapper .service {
  height: 100%;
  width: 16.66%;
  position: relative;
  display: grid;
  place-items: center;
}
.servicesWrapper .service h3 {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 30px;
  max-width: 220px;
  text-align: left;
}
.servicesWrapper .service img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.4);
  z-index: -1;
}
/* Services */

/* Advantage */
.advantageContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  padding-inline: 120px;
  margin-block: 215px;
}

.advantageVector {
  width: 280px;
  height: 290px;
  position: relative;
  margin-inline-start: 12px;
}

.advantageHouse {
  width: 980px;
  height: 320px;
}

.advantageHouse img {
  border-radius: 33px;
}

.advantageText {
  position: absolute;
  top: 50%;
  left: 100px;
  margin-block: auto;
  transform: translateY(-40%);
}

.advantageText p {
  color: #013a50;
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
  width: 637px;
  height: 135px;
}

.advantageText h1 {
  color: #013a50;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 16px;
  margin-bottom: 30px;
}

/* Advantage */

/* ourClients */
.ourClients {
  padding-top: 90px;
  padding-bottom: 120px;
  background-color: #f5f5f5;
  padding-inline: 120px;
  margin-bottom: 200px;
}
.ourClients h1 {
  color: #013a50;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 16px;
  margin-bottom: 80px;
}
.ourClients .place {
  width: 370px;
}
.ourClients .placeTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  column-gap: 20px;
}
.ourClients .placeTitleContainer span {
  width: 100%;
  background: #d9d9d9;
  height: 4px;
  max-width: 60px;
}
.ourClients .place p {
  color: #013a50;
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ourClients .googleMaps {
  width: 144px;
  height: 177px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: -10%;
}
.ourClients .place img {
  height: 210px;
  width: 100%;
  object-fit: cover;
}
.ourClients .googleMaps img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 144px;
  height: 177px;
  border-radius: 12px;
}
/* ourClients */

/* form */
.formWrapper {
  display: flex;
}
.formWrapper .leftContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 16%;
  background-color: white;
  padding-bottom: 80px;
  padding-top: 20px;
  position: relative;
}
.formWrapper .leftContainer .floating {
  width: 30%;
  height: 100%;
  background-color: #013a50;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.formWrapper .leftContainer h1 {
  color: #013a50;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 16px;
  text-align: left;
  margin-bottom: 80px;
  z-index: 2;
}
.formWrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}
.formWrapper .leftContainer input {
  color: #898989;
  background: #f5f5f5;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 650px;
  padding-inline: 16px;
  padding-block: 8px;
  border: none;
  margin-bottom: 12px;
}
.formWrapper .leftContainer textarea {
  color: #898989;
  background: #f5f5f5;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-height: 138px;
  width: 100%;
  max-width: 650px;
  padding-inline: 16px;
  padding-block: 8px;
  border: none;
  margin-bottom: 16px;
}
.formWrapper .leftContainer button {
  width: 114px;
  height: 33px;
  background: #013a50;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.formWrapper .rightContainer {
  background-color: #013a50;
  width: 40%;
  display: grid;
  place-items: center flex-start;
}
.formWrapper .rightContainer .textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
.formWrapper .rightContainer .textWrapper h1 {
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 12px;
  margin-bottom: 30px;
}
.formWrapper .rightContainer .textWrapper p {
  color: #fff;
  text-align: left;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 16px;
}
/* form */

/* footerWrapper */
.footer {
  background: #898989;
  padding-inline: 120px;
  padding-block-end: 50px;
  padding-block-start: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}
.footer .footerLeft {
  display: flex;
  column-gap: 80px;
  align-items: flex-start;
}
.footer .footerLeft h6 {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 13px;
}
.footer .footerLeft a {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
  display: block;
}
.footer .footerRight {
  display: flex;
  column-gap: 20px;
}

/* footerWrapper */

@media screen and (max-width: 1600px) {
  .header {
    padding-inline: 20px;
  }
  .mainBanner .floatingContainer p {
    padding: 25px 100px;
  }
  .advantageContainer {
    padding-inline: 20px;
  }
  .ourClients {
    padding-inline: 20px;
  }
  .footer {
    padding-inline: 20px;
  }

  .formWrapper .leftContainer {
    width: 50%;
  }
  .formWrapper .rightContainer {
    width: 50%;
  }
  .formWrapper .rightContainer {
    place-items: center center;
  }
  .formWrapper .leftContainer .floating {
    width: 10%;
  }
}

@media screen and (max-width: 1480px) {
  .header {
    column-gap: 30px;
  }
  .formWrapper .leftContainer {
    padding-left: 10%;
  }
  .advantageHouse {
    width: 60%;
  }
  .mainBanner .imageContainer {
    width: 40%;
  }
  .textContainer {
    width: 60%;
  }
  .svgMainBanner {
    left: 40%;
    transform: translateX(-40%);
  }
}

@media screen and (max-width: 1275px) {
  .mainBanner {
    flex-direction: column;
  }
  .textContainer {
    width: 100%;
    height: 700px;
  }
  .mainBanner .imageContainer {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 500px;
  }
  .mainBanner {
    height: 1136px;
  }
  .mainBanner .imageContainer img {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .svgMainBanner {
    left: 50%;
    transform: translateX(-50%);
  }
  .header {
    justify-content: space-between;
  }
  .mainBanner .floatingContainer {
    left: 50%;
    width: 90%;
    max-width: 800px;
    transform: translateY(40%) translateX(-50%);
  }
}

@media screen and (max-width: 1210px) {
  .servicesWrapper {
    height: 1000px;
  }
  .servicesWrapper .service {
    width: 33.33%;
  }
  .formWrapper .leftContainer {
    padding-left: 5%;
  }
}

@media screen and (max-width: 1065px) {
  .advantageContainer {
    flex-direction: column;
    row-gap: 30px;
  }
  .advantageContainer p {
    max-width: 500px;
  }
  .advantageText {
    left: 0px !important;
  }
}
@media screen and (max-width: 1045px) {
  .formWrapper {
    flex-direction: column;
  }
  .formWrapper .leftContainer {
    width: 100%;
    padding-left: 20px;
  }
  .formWrapper .rightContainer {
    width: 100%;
    padding-block: 80px;
    place-items: center flex-start;
    padding-left: 20px;
  }
}

@media screen and (max-width: 918px) {
  .advantageContainer p {
    max-width: 100%;
  }
  .advantageContainer {
    row-gap: 80px;
  }
  .advantageHouse {
    width: 100%;
  }
}

@media screen and (max-width: 815px) {
  .mainBanner .floatingContainer p {
    padding: 25px 50px;
  }
  .formWrapper .leftContainer input {
    max-width: 80%;
  }
  .formWrapper .leftContainer textarea {
    max-width: 80%;
  }
}

@media screen and (max-width: 710px) {
  .advantageContainer p {
    max-width: 80%;
  }
}
/*TODO: Add nav menu  */
@media screen and (max-width: 674px) {
  .desktopMenu {
    display: none;
  }
  .mobileMenu {
    transition: none;
    display: block;
    position: fixed;
    top: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: #0000003b;
    z-index: 13;
  }
  .header .click svg {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #013a50;
  }
  .mobileMenu .right {
    background-color: #013a50;
    width: 100%;
    height: 100%;
    top: -100%;
    padding-block: 40px;
    display: grid;
    place-items: center;
  }
  .mobileMenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    column-gap: 0px;
  }
  .mobileMenu ul li {
    margin-bottom: 30px;
    list-style: none;
  }
  .mobileMenu ul li a {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-decoration: none;
  }
  .footer {
    flex-direction: column;
    row-gap: 30px;
  }
  .footer .footerLeft {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media screen and (max-width: 598px) {
  .advantageContainer p {
    max-width: 70%;
  }
  .advantageContainer {
    flex-direction: column;
    row-gap: 140px;
  }
}
@media screen and (max-width: 598px) {
  .advantageContainer p {
    max-width: 60%;
  }
  .formWrapper .leftContainer h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 459px) {
  .ourClients .place img {
    width: 80%;
  }
  .advantageContainer p {
    max-width: 50%;
  }
  .formWrapper .leftContainer h1 {
    font-size: 19px;
  }
  .ourClients {
    margin-bottom: 80px;
  }
  .servicesWrapper .service {
    width: 50%;
  }
  .servicesWrapper .service h3 {
    margin-left: 12px;
    margin-right: 12px;
  }
  .servicesWrapper {
    height: 1400px;
  }
  .mainBanner .floatingContainer p {
    border-radius: 20px;
  }
}
@media screen and (max-width: 432px) {
  .ourClients .place img {
    width: 60%;
  }
  .ourClients .googleMaps {
    width: 244px;
    height: 177px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: -10%;
  }
}
@media screen and (max-width: 395px) {
  .advantageContainer p {
    max-width: 44%;
  }
  .formWrapper .leftContainer .floating {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .ourClients .place img {
    width: 60%;
  }
  .ourClients .googleMaps {
    width: 244px;
    height: 177px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    right: -2%;
  }
}
